header{
  background-color: pink;
  height: 60px;
  width: 971px;
  /**margin: 100px 10px 10px 10px;**/
}
nav{
  border: 2px solid green;
  background-color: #5d0817;

}

h1{
  color: #72048a;
  padding-top: 10px;
  padding-left: 30px;
}
body{
  background-color: #c2fdfc;
  background-image: url(paper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  width:971px;
  height: 500px;
}
/*hover*/
a{
   color: #c4a8fb;
}

a:link {
   color: #c4a8fb;
}

a:visited {
   color: #0000ff;
}

a:active {
   color: #c4a8fb;
}

a:hover {
   color: #ffff00;
}
a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

main{
  background-color: white;

  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 10px;

}
img{
  padding-top: 10px;
}

#atk {
  font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bold;
    font-size: 20px;

}

.kha {
  font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bold;
    font-size: 20px;

}

#con{
  font: bold 10px Arial, Helvetica, sans-serif;
}
