body{
background-image:url(pat.png);
 background-repeat: repeat;
 font-family: helvetica;
}

img{
width: 450px;
float: left;
padding: 4px;
margin-right: 10px;

border: 1px solid black;
}
#wrap{
  margin: 1em auto;
  width: 960px;
  border: 3px solid black;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 75px;
}



nav{
float:left;
margin: 5px;
margin-left: 2px;
padding: 4px;
grid-column: span 3;

}

nav li{
display: block;
}

.hd {
  font-family: Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    padding-left: 50px;
    border: 1px solid black;
  }

  header{
    background-color: black;
    margin: 10px;
    padding: 10px;
    grid-column: span 12;


  }

  a{
    font-family: Helvetica, sans-serif;
    line-height: 30px;
    color: white;
  }

  a {
     text-decoration: none;
  }

  main{
    width: 710px;
    margin: auto;
    padding: 20px 20px 20px 0;
    margin-right: 10px;
    grid-column: span 9;


  }
footer{
  background-color: red;
  margin: auto;
  padding: 0px ;
  width: 960px;
  grid-column: span 12;
  border-top: 2px solid black


}

h2{
  border-bottom: 2px solid black;
}
li{
  background-color: red;
  margin: 10px;
  padding: 10px;
  width: 180px;
  color: white;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:hover{

    background-color: black;

}

.red{
  color: red;
  font-weight: bold;
}

.hg{
  color: white;
  text-align: center;
 font-style: italic;
}

.middle{
margin-left: 140px;
width:960px;
}
.form{
  margin-left: 100px;
  width: 960px;
}
