body{
background-image:url(paper.jpg);
 background-color: black;
 font-family: helvetica;
 margin: auto;
}

img{
width: 520px;
height: 300px;

padding: 4px;
margin-right: 10px;

border: 1px solid purple;
border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
}

div{
  margin: auto;
  margin-left: 350px;
}


a{
  font-family: Helvetica, sans-serif;
  line-height: 20px;
  color: black;
  text-align: left;

}

a {
   text-decoration: none;
}

nav li{
display: block;
padding-left: 10px;
margin-left: 20px;

}

.hd {
  font-family: Helvetica, sans-serif;
    color: yellow;
    font-weight: bold;
    font-size: 60px;
    padding: 5px;
    padding-left: 50px;

  }

  header{
    padding-top: 10px;
    background-color: black;
  }

  .pro {
    padding-top: 5px;
    font-family: Helvetica, sans-serif;
      color: black;

      font-size: 18px;
    }
    .red{
      color: red;
      font-weight: bold;
    }

     .blue{
      color: blue;
      font-weight: bold;
    }

    .hst{
      color: black;
      font-style: italic;
      line-height: 5px;

    }
